---
import EmailSubscribe from "./EmailSubscribe.tsx";
---

<section class="border-t border-border px-8 md:px-16 lg:px-24 py-20">
  <div class="reveal max-w-xl">
    <EmailSubscribe client:visible />
  </div>
</section>
