<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <!-- The referenced component makes this fragment reachable by WiX's
         linker, so both CloseApplication rows are present in the final MSI. -->
    <DirectoryRef Id="TARGETDIR">
      <Component Id="AnimaUpgradeCloseGuard"
                 Guid="1E4ED638-EF65-4D53-9DC5-C39972713924">
        <RegistryValue Root="HKLM"
                       Key="Software\ANIMA\Installer"
                       Name="ReplacementOnly"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <util:CloseApplication Id="CloseCurrentAnimaHost"
                           Target="anima.exe"
                           CloseMessage="yes"
                           ElevatedCloseMessage="yes"
                           TerminateProcess="1"
                           RebootPrompt="no"
                           Timeout="5" />
    <util:CloseApplication Id="CloseLegacyDesktopHost"
                           Target="desktop.exe"
                           CloseMessage="yes"
                           ElevatedCloseMessage="yes"
                           TerminateProcess="1"
                           RebootPrompt="no"
                           Timeout="5" />
  </Fragment>
</Wix>
